.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
    cursor: pointer;
}
.navbar-inverse .navbar-brand{
    font-size: 22px;
    color: #f0ffff;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 22px;
    color: #f0ffff;
}

#div1{
    background-color: #DFF6FF;
    padding-top: 20px;
    padding-bottom: 30px;
    top: 0;
}
#div2{
    background-color: #47B5FF;
    padding-top: 20px;
    padding-bottom: 30px;
}

#movie1{
    width: 200px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#movie2{
    width: 200px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#movie3{
    width: 200px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}